/***************************** Special paddings/margins/text**/

body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    color: #34495e;
}

a:link {
    text-decoration: none;
}


.uppercase {
    text-transform: uppercase;
}

.center-text {
    text-align: center;
}

.h3-title {
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    font-weight: 700;
    color: #e6c13f;
}

hr {
    width: 300px;
    border: 1px solid;
}

.hr-light-blue {
    width: 200px;
    color: #34495e73;
}

.hr-blue {
    color: #264c7be0;
}

.hr-donation {
    color: #34495e73
}

.contact-us {
    background-color: #f5f5f5;
}

.container-all {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.background-image {
    min-height: 107vh;
    width: 100%;
    display: block;
    background-size: cover;
    padding-top: 20px;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

.background-image-quote {
    background: #f1f1f1c9;
    margin: auto;
    padding: 24px 50px;
    text-align: left;
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    border-radius: 4px 4px;
}

.background-image-quote h3 {
    font-size: 25px;
    color: #333;
}

.background-quote-about,
.background-quote-news {
    max-width: 1000px;
}

.background-quote-about p,
.background-quote-news p,
.background-image-quote p {
    font-size: 15px;
    margin-bottom: 0px;
    color: #333;
}

.full-text {
    padding: 20px 20px;
    text-align: center;
}

.container-what-we-do p {
    margin-bottom: 0;
}

.half-text {
    text-align: right;
}

.half-text h5 {
    font-weight: 700;
    padding-top: 10px;
}

.full-image-text {
    padding: 10px 24px 0;
    text-align: center;
}

.image-caption {
    font-size: 13px;
    color: #666;
    padding: .2em .6em;
    font-style: italic;
    font-weight: 300;
}

.img-thumbnail {
    margin-right: 0px;
    margin-left: 0px;
}


/***************************** Header**/

.bg-light {
    background-color: #273e57!important;
}

.header-navigation {
    margin-left: auto;
}

.button:focus {
    outline: none;
}

.navbar-dark .navbar-nav .active>.nav-link:hover {
    color: #e6c13f;
    transition: ease-in-out .15s;
}

.navbar-dark .navbar-brand {
    color: #e9ecef;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #e9ecef;
}


/***************************** Home**/

.home {
    background-image: url("../images/home-image.jpg");
}

.home-quote {
    max-width: 511px;
    margin-top: 50px;
}


/***************************** What we do**/

.what-we-do {
    background-color: #273e57;
    color: #fafafacf;
}

.what-we-do-title {
    color: #fff;
}

/***************************** About**/

.half-image {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    padding: 10px;
}

.full-image {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    padding: 30px 0;
    max-width: 50%;
}

.caption-about {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 200;
}

.quote-about {
    padding: 10px 25px 10px 45px;
    text-align: left;
    letter-spacing: 3px;
}

.quote-about p {
    margin-bottom: 0px;
}

.background-image-about {
    background-image: url("../images/about/background-about.png");
}

.background-quote-about {
    right: 100px;
    top: 100px;
}

/***************************** News**/

.news-container {
    height: auto;
    width: 100%;
    padding: 20px;
}

.card {
    border: none;
}

.card-news {
    height: 430px;
    position: relative;
    margin: 15px auto;
}

.card-title:hover {
    color: #e6c13f;
    transition: .15s ease-in-out;
}

.card-body {
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
}

.card-title {
    font-weight: 700;
    color: #34495e;
}

.news-image {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
}

.news-image1 {
    background-image: url("../images/news/1.jpg");
}

.news-image2 {
    background-image: url("../images/news/2.jpg");
}

.news-image3 {
    background-image: url("../images/news/3.jpg");
}

.btn-primary {
    color: #fff;
    background-color: #273e57;
    border-color: #273e57;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e6c13f;
    border-color: #e6c13f;
}

.btn-news {
    position: absolute;
    bottom: 15px;
}

.background-image-news {
    background-image: url("../images/news/background-image-news.jpg");
}


/***************************** Donate**/

.donation-btn {
    text-align: center;
}

.donation-btn-style {
    min-width: 70px;
    margin-bottom: 6px;
}

/***************************** Contact-us**/

.background-image-contact {
    background-image: url("../images/contact.jpg");
}

.contact-us-title {
    color: #273e57;
}

.transparent-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.3);
}

.row-contact-us {
    margin-left: 0px;
    margin-right: 0px;
}

.half-text-contact {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.row-contact-us .half-text h6 {
    text-transform: uppercase;
    font-weight: 700;
}

.row-contact-us .half-text p {
    font-size: .8rem;
    font-weight: 700;
}

.center-form {
    padding-bottom: 30px;
}

.form-control {
    margin: 20px 0;
}

.half-map-padding {
    padding: 0 15px;
}

.half-map {
    padding: 5px;
}


/***************************** Footer**/

.footer {
    background-color: #273e57;
    padding: 10px;
}

.footer-text,
.fa-footer {
    color: #e9ecef;
    margin: 3px;
}

.footer-text:hover,
.fa-footer:hover {
    color: #e6c13f;
    transition: ease-in-out .15s;
}

.list-inline {
    margin: 3px;
}


/***************************** Media Queries**/

@media (max-width: 991px) {

    .background-image-quote {
        width: 80%;
    }
    
    .home-quote {
        width: 84%;
    }

    .half-text {
        text-align: justify;
    }

    .half-text h5 {
        text-align: center;
    }

    .quote-about {
        text-align: right;
    }

    .card-news {
        height: 580px;
    }

    .news-image {
        height: 500px;
    }

    .card-body {
        height: 210px;
    }

    .full-image {
        max-width: 90%;
    }

    .full-text {
        text-align: justify;
    }
}

@media (max-width: 595px) {
    .card-body {
        height: 300px;
    }
}

@media (max-width: 331px) {
.navbar-dark .navbar-brand {
    font-size: medium;
}
}

@media (min-width: 769px) {
    .home-quote {
        padding: 24px 45px;
        right: 150px;
        bottom: 200px;
    }

    .container-contact-us {
        max-width: 60%;
    }

    .navbar {
        height: 50px;
    }

}

@media (min-width: 992px) {
    .home-quote {
        position: absolute;
    }

    .row-about {
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .h3-title {
        padding-top: 55px;
    }

    .donation-btn {
        text-align: right;
    }

    .hr-donation {
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .news-container {
        max-width: 1100px;
    }

    .container-about {
        max-width: 80%;
    }

}
